SchemaVersion: 2018-07-01
Owner: "@mongodb/query"
Description: >
  This is a template of predefined workload groups for QueryStats workloads.

# Template parameters.
ConstantGroup: &Group {^Parameter: {Name: Group, Default: 1}}
ConstantNumGroups: &NumGroups {^Parameter: {Name: NumGroups, Default: {unused: "Need to specify the total number of groups."}}}
# Default should be the max of all groups' stage counts.
ConstantStagesPerGroup: &StagesPerGroup {^Parameter: {Name: StagesPerGroup, Default: 3}}

# Entry count generators.
ConstantCustomEntries: &CustomEntries {^Parameter: {Name: CustomEntries, Default: {unused: "Need to specify the custom entry count generator."}}}
ConstantFixedEntries: &FixedEntries 175
ConstantRandomEntries: &RandomEntries {^RandomInt: {min: 1, max: 350}}

SetupGroup:
  ^FlattenOnce:
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: SetupStage
      Parameters:
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup

AllBaseFixedGroup:
  ^FlattenOnce:
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: UniqueBaseStage
      Parameters:
        Name: "Fixed"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 1
        EntriesPerObject: *FixedEntries
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: CycleBaseStage
      Parameters:
        Name: "Fixed"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 2
        CycleLength: 5
        EntriesPerObject: *FixedEntries
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: CycleBaseStage
      Parameters:
        Name: "Fixed"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 3
        CycleLength: 25
        EntriesPerObject: *FixedEntries

AllBaseRandomGroup:
  ^FlattenOnce:
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: UniqueBaseStage
      Parameters:
        Name: "Random"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 1
        EntriesPerObject: *RandomEntries
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: CycleBaseStage
      Parameters:
        Name: "Random"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 2
        CycleLength: 5
        EntriesPerObject: *RandomEntries
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: CycleBaseStage
      Parameters:
        Name: "Random"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 3
        CycleLength: 25
        EntriesPerObject: *RandomEntries

AllHmacFixedGroup:
  ^FlattenOnce:
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: UniqueHmacStage
      Parameters:
        Name: "Fixed"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 1
        EntriesPerObject: *FixedEntries
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: CycleHmacStage
      Parameters:
        Name: "Fixed"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 2
        CycleLength: 5
        EntriesPerObject: *FixedEntries
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: CycleHmacStage
      Parameters:
        Name: "Fixed"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 3
        CycleLength: 25
        EntriesPerObject: *FixedEntries

AllHmacRandomGroup:
  ^FlattenOnce:
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: UniqueHmacStage
      Parameters:
        Name: "Random"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 1
        EntriesPerObject: *RandomEntries
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: CycleHmacStage
      Parameters:
        Name: "Random"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 2
        CycleLength: 5
        EntriesPerObject: *RandomEntries
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: CycleHmacStage
      Parameters:
        Name: "Random"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 3
        CycleLength: 25
        EntriesPerObject: *RandomEntries

AllTextFixedGroup:
  ^FlattenOnce:
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: UniqueTextStage
      Parameters:
        Name: "Fixed"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 1
        EntriesPerObject: *FixedEntries
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: CycleTextStage
      Parameters:
        Name: "Fixed"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 2
        CycleLength: 5
        EntriesPerObject: *FixedEntries
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: CycleTextStage
      Parameters:
        Name: "Fixed"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 3
        CycleLength: 25
        EntriesPerObject: *FixedEntries

AllTextRandomGroup:
  ^FlattenOnce:
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: UniqueTextStage
      Parameters:
        Name: "Random"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 1
        EntriesPerObject: *RandomEntries
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: CycleTextStage
      Parameters:
        Name: "Random"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 2
        CycleLength: 5
        EntriesPerObject: *RandomEntries
  - LoadConfig:
      Path: QueryStatsVariants.tmpl
      Key: CycleTextStage
      Parameters:
        Name: "Random"
        Group: *Group
        NumGroups: *NumGroups
        StagesPerGroup: *StagesPerGroup
        StageInGroup: 3
        CycleLength: 25
        EntriesPerObject: *RandomEntries
