# DevProd Performance Infrastructure Team
# Operates through the DEVPROD Jira board.
# @mongodb/devprod-performance-infrastructure

# Product Performance Team
# Operates through the PERF Jira board.
# @mongodb/performance

# Repository Configuration
/.gitignore        @mongodb/devprod-performance-infrastructure james.littlejohn@mongodb.com
/.github           @mongodb/devprod-performance-infrastructure james.littlejohn@mongodb.com
/.vscode           @mongodb/devprod-performance-infrastructure james.littlejohn@mongodb.com

# Workload Configuration
/src/workloads    @mongodb/performance

# Genny Core Components
/cmake            @mongodb/devprod-performance-infrastructure
/poetry.lock      @mongodb/devprod-performance-infrastructure
/pyproject.toml   @mongodb/devprod-performance-infrastructure

# Workload-related C++ Components
/src/value_generators    @mongodb/performance @mongodb/devprod-performance-infrastructure
