*.d

# clion
.idea
cmake-build-debug

# vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
tags

# generated
build
dist
expansions.yml

# python
__pycache__
venv
genny_venv
pip-requirements.txt
.eggs/
genny.egg-info

# tools
curator

# docker
containers