<<ctx.field_name>>: &field_<<ctx.field_name>>
  ^TakeRandomStringFromFrequencyMapSingleton:
    id: field_<<ctx.field_name>>_exp
    from:
      {% for key, value in ctx.map.items() %}
      <<key>>: <<value>>
      {% endfor %}