# This workload file describes the evergreen patches and tasks that produced
# reliable data for 
workload_name: qe_test_insert
patches:
  # This patch excludes the sharded test results
  ReplaceMeWithPatchID:
    linux-1-node-replSet-fle.2022-11:
      {% for test in testNames %}
      - << test >>
      {% endfor %}
    perf-3-shard-fle.arm.aws.2023-11
      {% for test in testNames %}
      - << test >>
      {% endfor %}
genny_metrics:
  tests:
  - "InsertActor.load.inserts"
  - "InsertActor.FSM.update"
  - "InsertActor.FSM.query"
  metrics:
  - "OperationsTotal"
  - "DocumentsTotal"
  - "SizeTotal"
  - "DurationTotal"
  - "OverheadTotal"
  - "ErrorsTotal"
  - "AverageLatency"
  - "AverageSize"
  - "OperationThroughput"
  - "DocumentThroughput"
  - "SizeThroughput"
  - "LatencyMin"
  - "LatencyMax"
  - "Latency50thPercentile"
  - "Latency80thPercentile"
  - "Latency90thPercentile"
  - "Latency95thPercentile"
  - "Latency99thPercentile"
  - "WorkersMin"
  - "WorkersMax"
  - "ErrorRate"
storage_metrics:
  tests:
  - "crud_actor_qe Storage Metrics"
  metrics:
  - "Average Growth in /data/dbs/ (bytes/s)"
  - "End size of /data/dbs/ (bytes)"
timing_metrics:
  tests:
  {% for test in testNames %}
  - "<< test >> Timing Metrics"
  {% endfor %}
  metrics:
  - "Total Duration (s)"
curator: "/perftooling/curator"
