<<ctx.field_name>>: &field_<<ctx.field_name>> {^Join: {array: [ "<<ctx.prefix>>", {^FormatString: {"format": "%|07d|", "withArgs": [{^Inc: {start: 1, multiplier: {^Parameter: {Name: "multiplier", Default: 0}}}}]}}]}}