{% for t in range(insert_threads) %}
  - Name: InsertActor_Thread{{ t }}
    Type: CrudActor
    Threads: 1
    Database: *test_db
    ClientName: *test_pool
    Phases:
    - *nop
    - Repeat: {{ document_count // insert_threads }}
      Collection: *test_coll
      MetricsName: "load"
      Operations:
      - OperationName: insertOne
        OperationMetricsName: inserts
        OperationCommand:
          Document:
            field1: {^ConvertToInt32: {from: {^ChooseFromDataset:{"path": "{{ data_path }}", "sequential": true, "startFromLine": {{ t * document_count // insert_threads }}}}}}
            _id: {^Inc: {start: 0, multiplier: {{ document_count // insert_threads }}}}
{% endfor %}
