SchemaVersion: 2018-07-01
Owner: Server Security
Description: |
  QE Range Release Criteria Experiment
Keywords:
- Queryable Encryption

GlobalDefaults:
  MyDatabase: &encrypted_db genny_release_criteria
  MyCollection: &encrypted_coll my_coll
  NopAlias: &nop {Nop: true}
  {% if do_fsm %}
  StateTransitions: &transitions
  - To: Query
    Weight: {{ query_ratio }}
    SleepBefore: {^TimeSpec: {value: 0, unit: seconds}}
  - To: Update
    Weight: {{ 1 - query_ratio }}
    SleepBefore: {^TimeSpec: {value: 0, unit: seconds}} {% endif %}
{% if encrypt %}
Encryption:
  {% if use_crypt_shared_lib %}
  UseCryptSharedLib: true
  CryptSharedLibPath: {{ crypt_shared_lib_path }} {% endif %}
  EncryptedCollections:
  - Database: *encrypted_db
    Collection: *encrypted_coll
    EncryptionType: queryable

    QueryableEncryptedFields:
      tm_retail_tx: { type: "long", queries: [{queryType: "range", min: 0, max: 1000000000000, contention: 4, sparsity: 2, trimFactor: {{ timestamp_tf }}}] }
      age_hospitals: { type: "int",  queries: [{queryType: "range", min: 0, max: 55000, contention: {{ age_cf }}, sparsity: 2, trimFactor: 6}] }
      bnk_bal: { type: "decimal", queries: [{queryType: "range", min: 0, max: 1000000, precision: 2, contention: {{ balance_cf }}, sparsity: 2, trimFactor: {{ balance_tf }}}] } {% endif %}
Clients:
  EncryptedPool:
    QueryOptions:
      maxPoolSize: 400
  {% if encrypt %}
    EncryptionOptions:
      KeyVaultDatabase: "keyvault"
      KeyVaultCollection: "datakeys"
      EncryptedCollections:
      - genny_release_criteria.my_coll {% endif %}

ActorTemplates:
- TemplateName: InsertTemplate
  Config: 
    Name: {^Parameter: {Name: "Name", Default: "unused"}}
    Type: CrudActor
    Threads: 1
    Database: *encrypted_db
    ClientName: EncryptedPool
    Phases: {% if not encrypt %}
    - *nop {% endif %}
    - Repeat: {{ document_count // insert_threads }}
      Collection: *encrypted_coll
      MetricsName: "load"
      Operations:
      - OperationName: insertOne
        OperationMetricsName: inserts
        OperationCommand:
          Document:
            tm_retail_tx: {^ConvertToInt: {from: {^ChooseFromDataset:{"path": "{{ timestamp_file }}", "sequential": true, "startFromLine": &StartLine {^Parameter: {Name: "StartLine", Default: -1}}}}}}
            age_hospitals: {^ConvertToInt32: {from: {^ChooseFromDataset:{"path": "{{ age_file }}", "sequential": true, "startFromLine": *StartLine}}}}
            bnk_bal: {^ConvertToDecimal: {from: {^ChooseFromDataset:{"path": "{{ balance_file }}", "sequential": true, "startFromLine": *StartLine}}}}

    - *nop
{%if do_fsm %}
- TemplateName: FSMTemplate
  Config:
    Name: {^Parameter: {Name: "Name", Default: "unused"}}
    Type: CrudActor
    Threads: 1
    Database: *encrypted_db
    ClientName: EncryptedPool
    
    Phases: {% if not encrypt %}
    - *nop {% endif %}
    - *nop
    - Repeat: {{ query_count // query_threads }}
      Collection: *encrypted_coll
      MetricsName: "FSM"
      InitialStates:
        - State: Query
          Weight: {{ query_ratio }}
        - State: Update
          Weight: {{ 1 - query_ratio }}
      States:
        - Name: Query
          Operations:
          - OperationName: find
            OperationMetricsName: range_query
            OperationCommand:
              Filter: { {{ field_name }}: {
                  $gte: {^ConvertTo{{ field_type }}: {from: {^ChooseFromDataset:{"path": "{{ min_file }}", "sequential": true, "startFromLine": *StartLine}}}},
                  $lte: {^ConvertTo{{ field_type }}: {from: {^ChooseFromDataset:{"path": "{{ max_file }}", "sequential": true, "startFromLine": *StartLine}}}}
                }
              }
          Transitions: *transitions
        - Name: Update
          Operations:
          - OperationName: updateOne
            OperationMetricsName: update
            OperationCommand:
              Filter: { {{ field_name }}: {^ConvertTo{{ field_type }}: {from: {^ChooseFromDataset:{"path": "{{ update_file }}"}}}}}
              Update: {$set: { {{ field_name }}: {^ConvertTo{{ field_type }}: {from: {^ChooseFromDataset:{"path": "{{ insert_file }}"} } } } } }
          Transitions: *transitions {% endif %}
Actors: {% if not encrypt %}
  - Name: CreateSecondaryIndexes
    Type: RunCommand
    Threads: 1
    Phases:
      OnlyActiveInPhases:
        Active: [0]
        NopInPhasesUpTo: 2
        PhaseConfig:
          Repeat: 1
          Database: *encrypted_db
          Operations:
          - OperationName: RunCommand
            OperationCommand:
              createIndexes: *encrypted_coll
              indexes:
              - key: { tm_retail_tx: 1}
                name: time_index
          - OperationName: RunCommand
            OperationCommand:
              createIndexes: *encrypted_coll
              indexes:
              - key: { age_hospitals: 1}
                name: age_index
          - OperationName: RunCommand
            OperationCommand:
              createIndexes: *encrypted_coll
              indexes:
              - key: { bnk_bal: 1}
                name: bal_index {% endif %}
  {% for t in range(insert_threads) %}
  - ActorFromTemplate: 
      TemplateName: InsertTemplate
      TemplateParameters: 
        Name: InsertActor_Thread{{ t }}
        StartLine: {{t * document_count // insert_threads}}
    {% endfor %}
{% if do_fsm %} {% for t in range(insert_threads) %}
  - ActorFromTemplate:
      TemplateName: FSMTemplate
      TemplateParameters:
        Name: FSMActor_Thread{{ t }}
        StartLine: {{t * query_count // query_threads}}
{% endfor %} {% endif %}

  - Name: LoggingActor0
    Type: LoggingActor
    Threads: 1
    Phases:
      - Phase: 0..1
        LogEvery: 5 minutes
        Blocking: None

AutoRun:
- When:
    mongodb_setup:
      $eq:
      - single-replica-fle
      - shard-lite-fle
    branch_name:
      $gte: v8.0
